div(id="footer")
    p © 2013 Desarrolladores Nicaragua
    p El contenido y los artículos son propiedad de sus autores. Todos los fragmentos de código utilizados en los ejemplos son de dominio público.
    p
        a(href="https://github.com/paulomcnally/desarrolladores.com.ni", target="_blank") Repositorio en Github.com