div(id="header")
    a(href="/",target="_self")
        img(class="logo hidden-phone",src="/img/logo.png",alt="Logo")
    div(class="buttons")
        a(href="/articulos",target="_self",class="main",id="h_article") Artículos
        a(href="/hangouts",target="_self",class="main",id="h_hangout") Hangouts
        a(href="/noticias",target="_self",class="main",id="h_new") Noticias
        a(href="/eventos",target="_self",class="main",id="h_events",style="display:none;") Eventos