extend layout
block content
    div(id="main")
    script(src="http://www.google.com/cse/query_renderer.js").
    div(id="queries")
    script(src="http://www.google.com/cse/api/partner-pub-2015513932539714/cse/9873985028/queries/js?oe=UTF-8&amp;callback=(new+PopularQueryRenderer(document.getElementById(%22queries%22))).render").

    div(id="cse-search-results")
    script.
        var googleSearchIframeName = "cse-search-results";
        var googleSearchFormName = "cse-search-box";
        var googleSearchFrameWidth = 800;
        var googleSearchDomain = "www.google.com.ni";
        var googleSearchPath = "/cse";
    script(src="http://www.google.com/afsonline/show_afs_search.js").
