div(id="sidebar")
    div(class="aside")
        h3 Hangout
        h6 #{data.hangouts.rows[0].title}
        iframe(class="iframe",width="340",height="220",src="//www.youtube.com/embed/#{data.hangouts.rows[0].youtube.id}",frameborder="0",allowfullscreen="true")
    div(class="aside")
        h3 Sobre Desarrolladores Nicaragua
        p Este es un blog de apoyo comunitario creado por Paulo McNally. El objetivo de este blog es que la comunidad de desarrolladores de Nicaragua compartan sus conocimientos sobre programación, así como enseñar los conceptos fundamentales que se necesitan para escribir código eficaz.
        p El contenido de este sitio se almacena en un repositorio git que cualquiera puede bifurcar, escribir un artículo, y enviar una solicitud de extracción. Si el artículo pasa a los estándares de calidad que se publicará y ayudar a apoyar a la comunidad nodo mayor.
        div
            a(href="https://www.facebook.com/groups/197973700229538",target="_blank") Grupo Oficial en Facebook
        div
            a(href="https://github.com/paulomcnally/desarrolladores.com.ni",target="_blank") Repositorio en Github
    div(class="aside")
        h3 Anuncios
        script.
            google_ad_client = "ca-pub-2015513932539714";
            google_ad_slot = "1013585825";
            google_ad_width = 320;
            google_ad_height = 50;
        script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js").
    div(class="aside")
        h3 Busqueda
        form(action="/busqueda", id="cse-search-box")
        div
            input(type="hidden",name="cx",value="partner-pub-2015513932539714:9873985028")
            input(type="hidden",name="ie",value="UTF-8")
            input(type="text",name="q",size="55")
            input(type="submit",name="sa",value="Buscar")
        script(src="http://www.google.com.ni/coop/cse/brand?form=cse-search-box&amp;lang=es").
