div(id="sidebar")
    div(class="aside")
        h3 Sobre Desarrolladores Nicaragua
        p Este es un blog de apoyo comunitario creado por Paulo McNally. El objetivo de este blog es que la comunidad de desarrolladores de Nicaragua compartan sus conocimientos sobre programación, así como enseñar los conceptos fundamentales que se necesitan para escribir código eficaz.
        p El contenido de este sitio se almacena en un repositorio git que cualquiera puede bifurcar, escribir un artículo, y enviar una solicitud de extracción. Si el artículo pasa a los estándares de calidad que se publicará y ayudar a apoyar a la comunidad nodo mayor.
        div
            a(href="https://www.facebook.com/groups/197973700229538",target="_blank") Grupo Oficial en Facebook
        div
            a(href="https://github.com/paulomcnally/desarrolladores.com.ni",target="_blank") Repositorio en Github